/*------------------------------------*\
    #MIXINS
\*------------------------------------*/


/*** Set a REM font with PX fallback ***/
/*** @include font-size(14px) ***/
/*** uses a function ***/
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}


/*** Crossbrowser Transitions ***/
/*** @include transition(color .3s ease) ***/
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


/*** Crossbrowser Opacity ***/
/*** @include opacity(0.8) ***/
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


/*** Responsive Breakpoints ***/
/**
@include breakpoint(large)
@include breakpoint(medium)
@include breakpoint(small)
@include breakpoint(“max-width: 480px”)
**/
@mixin breakpoint($break) {
  @if $break == large {
    @media (min-width: $large) { @content; }
  }
  @else if $break == medium {
    @media (min-width: $medium) { @content; }
  }
  @else if $break == small {
    @media (min-width: $small) { @content; }
  }
  @else {
    @media ($break) { @content; }
  }
}
