/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/


/*** FONTS ***/

$font-family--primary: sans-serif;
$font-family--secondary: serif;


/*** COLOURS ***/

$black: #000000;
$white: #FFFFFF;

$links: #265C83;
$links-hover: #7FDBFF;
$links-visited: #265C83;


/*** LAYOUT ***/

$max-width: 1100px;
$min-width: 300px;


/*** RESPONSIVE ***/

$small: 300px;
$medium: 768px;
$large: 1024px;
